:root{
  --mainBlue:#192841;
  --lightBlue: #009ffd;
  --textBlue: #296d98;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body{
  /* !important helps to overwrite the default bootstrap css */
  /*font-family: 'Oswald' !important; */
  font-family: 'Source Sans Pro';
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Source Sans Pro';
  /*font-family: 'Merriweather';*/
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--textBlue);
}
.text-bright{
  color: var(--lightBlue);
}

.logo {
  width: 40px;
}